.header {
  background: #000;
  color: #fff;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .logo {
  font-size: 35px;
  text-transform: uppercase;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu li {
  padding: 10px;
}
.header-menu li a {
  padding: 10px;
  color: #fff;
}
.header-menu li a:hover {
  background: #800080;
  border-radius: 8px;
}
